body {
    background-color: #011627;
    border: 60px solid #2EC4B6;
    border-top: 0px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1, h2, p, label, form {
    text-align: center;
    margin: auto;
    color: white;
}

h2 {
    padding-top: 1%;
    padding-bottom: 3%;
}

p {
    width: 60%;
    padding-top: 5%;
}

form {
    margin-top: 2%
}

.userinput {
    width: 13%;
    margin-bottom: 1%;
    height: 25px;
}

.submit {
    background: #FF9F1C;
    font-size: 20px;
    height: 75px;
    width: 8%;
    border-radius: 20px;
}